<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Title</title>
        <!-- By: Alex Amico -->
    </head>

    <body>
        <div id="content">
            <header id="main-header">
                <h1>Main Title</h1>
                <h2>Sub Title</h2>

                <nav id="main-nav">
                    <ul>
                        <li><a href="#">Nav Item 1</a></li>
                        <li><a href="#">Nav Item 2</a></li>
                        <li><a href="#">Nav Item 3</a></li>
                        <li><a href="#">Nav Item 4</a></li>
                        <li><a href="#">Nav Item 5</a></li>
                    </ul>
                </nav>
            </header>
            <main id="main-content">

            </main>
            <footer id="main-footer">
                &copy; Alex Amico
            </footer>
        </div>
    </body>
</html>