body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-basis: 30%;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid black;
    margin-bottom: 20px;
}

.column img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#square {
    width: 100px;
    height: 100px;
    background-color: indigo;
    position: relative;
    left: 0;
}

#sliderColumn {
    width: calc(30% - 40px);
}

#slider {
    width: 100%;
}

/* Media query for screens less than 600px wide */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .column {
        flex-basis: 100%;
    }

    #sliderColumn {
        width: 100%;
    }
}


#countColumn {
    background-color: #ffcccb;
}

#imageColumn {
    background-color: #add8e6;
}

#sliderColumn {
    background-color: #62fd9d;
}